*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: #FFFCF6;
    font-family:'Playfair Display', serif;
    display: inline-block;
}

.header {
    width: 1600px;
    width: 100%;
    height: 0px;
    left: 20px;
    top: 0px; 
}

.header h1 {
    font-size: 28px;
    text-align: center;
    color: white;
}

.section-one {
    background-image: url('./images/café-torrado.png');
    height: 720px;
    width: 1500px;
    width: 100%;
}

.section-one h2 { 
    font-size: 80px; 
    line-height: 100px;
    width: 100%;
    color: white;
    font-weight: bold;
    vertical-align: center;
}

.section-one p { 
    font-size: 32px; 
    line-height: 40px;
    color: white;
    vertical-align: center;
}

.section-two h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
}

.section-two div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.section-two img {
    width: 500px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section-three h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
}

.section-three div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.section-three img {
    width: 500px;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section-four h2 {
    font-size: 56px;
    line-height: 60px;
    font-weight: bold;
    color: #A0996C;
    width: 581px;
    height: 60px;
}

.section-four h3 {
    font-size: 24px;
    line-height: 28px;
}

.section-four h4 {
    color: #969696;
}

.section-four li {
    display: inline-block;
    width: 450px;
    height: 350px;
    width: 25%;
    align-items: center;
    text-align: center;
    background:#F7F1E6;
    border-radius: 8px;
}

.section-five li {
    display: inline-block;
    width: 15%;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.section-five img {
    width: 66px;
    height: 40px;
    left: 98px;
}

.section-six div {
    background-image: url('./images/catálogo-de-cafés.png');
    display: inline-block;
    height: 400px;
    width: 600px;
    width: 40%;
}

.section-six h3 {
    font-size: 56px;
    line-height: 60px;
    display: inline-block;
}

.section-six div {
    background-image: url('./images/acessórios.png');
    height: 400px;
    width: 600px;
    width: 40%;
}

.section-seven {
    background-color: white;
    width: 100%;
}

.section-seven h3 {
    font-size: 56px;
    line-height: 60px;
}

.section-seven img {
    width: 1440px;
    height: 512px;
    left: 80px;
}

.footer {
    background-color: #f3f3f3;
    width: 100%;
}

.footer h3 {
    display: inline-block;
    font-size: 28px;
    font-style: italic;
    line-height: 28px;
}

.footer ul {
    display: inline-block;
    width: 30%;
}

.footer li {
    text-decoration: none;
    text-align: left;
}

